
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--<suite name="Complete Suite" thread-count="2" verbose="2" parallel="methods" >-->
<suite name="Complete Suite" >

  <test name="Parallel tests" >

    <classes>
      <class name="com.parthibanrajasekaran.vodqa.test.android.ActionsApiTest"/>
    </classes>

  </test>
</suite>